<form action="/cart" method="POST">
  <button href="#" class="btn btn-primary">
    <i class="bi bi-cart-fill text-light"></i>
    Add To Cart
  </button>
  <input type="hidden" name="productId" value="<%= product.id %>">
</form>