<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/styles.css">
  <title>404 page</title>
</head>
<body>

  <div style="width: 80%; margin: 0 auto; margin-top: 50px;">
    <h1>404</h1>
    <p>Opppss! Page not found</p>
    <br>
    <button class="btn btn-primary" onclick="goHome()">Go home</button>
  </div> 
  

  <script>
    function goHome() {
      location.href = '/';
    }
  </script>
</body>
</html>