<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/styles.css">
  <title>Add product</title>
</head>
<body>

  <header class="main-header">
    <nav class="main-header__nav">
      <ul class="main-header__list">
        <li class="main-header__list__item"><a class="main-header__list__item__link" href="/">Shop</a></li>
        <li class="main-header__list__item"><a class="main-header__list__item__link" href="/admin/add-product">Add product</a></li>
      </ul>
    </nav>
  </header>

  <div style="width: 80%; margin: 0 auto; margin-top: 30px;">
    <h1>Add product</h1>
    <p>Create product</p>
  </div> 

  <div style="width: 80%; margin: 0 auto; margin-top: 30px;">
    <form action="/add-product" method="POST">
      <div style="display: flex; flex-direction: column; margin-bottom: 15px;">
        <label style="font-size: 20px;">Title</label>
        <input name="title" type="text" style="width: 50%; height: 35px;font-size: 18px;">
      </div>
      <div style="display: flex; flex-direction: column; margin-bottom: 15px;">
        <label style="font-size: 20px;">Price</label>
        <input step="0.001" name="price" type="number" style="width: 50%; height: 35px;font-size: 18px;">
      </div>
      <div>
        <button class="btn btn-primary" type="submit">Add product</button>
      </div>
    </form>
  </div> 
  
</body>
</html>