doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/public/css/styles.css")
    title #{docTitle}
  body 

    .main-header 
      nav.main-header__nav
        ul.main-header__list
          li.main-header__list__item
            a.main-header__list__item__link(href="/") Shop 
          li.main-header__list__item
            a.main-header__list__item__link(href="/admin/add-product") Add product

    main.container 
      .column 
        .col-12.mt-5
          h1 #{docTitle.toUpperCase()}
          p List of all products
        .col-12.mt-5 
          if productos  
            p hay productos