<%- include("../partials/head") %>

  <%- include("../partials/navegation") %>

  <div class="container">
    <div class="row mt-3">
      <div class="col-12">
        <h1 class="mb-0 display-4"><%= docTitle %></h1>
        <!-- <p class="lead">Welcom to Shopify</p> -->
      </div>
    </div>
    <div class="row">

<%- include("../partials/script") %>     